{%extends 'user.html'%} {%block show%}
<form action="/edit/update/{{one_user.id}}" method="post" class="w-50 mx-auto">
  <div class="mb-3">
    <label for="first_name" class="form-label">First name:</label>
    <input
      type="text"
      class="form-control"
      id="first_name"
      name="first_name"
      value="{{one_user.first_name}}"
    />
  </div>
  <div class="mb-3">
    <label for="last_name" class="form-label">Last Name:</label>
    <input
      type="text"
      class="form-control"
      id="last_name"
      name="last_name"
      value="{{one_user.last_name}}"
    />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      name="email"
      value="{{one_user.email}}"
    />
  </div>
  <button type="submit" class="btn btn-success">Edit User</button>
</form>
{% endblock %}
